<html>

<head>
	<title>
	Schedule
	</title>
	<link rel="stylesheet" href="Schedule.css">
 </head>
	<body>
    <table id="scheduletb">
      <tr>
        <th>Period</th>
        <th>Time</th>
        <th>Class</th>
        <th>Teacher</th>
      </tr>
      <tr>
        <td>1</td>
        <td>8:00am-8:44am</td>
        <td>English 3</td>
        <td>Mr Stormont</td>
      </tr>
      <tr>
        <td>2</td>
        <td>8:47am-9:32am</td>
        <td>AP Physics</td>
        <td>Mr Singh</td>
      </tr>
      <tr>
        <td>3</td>
        <td>9:35am-10:20am</td>
        <td>Ap S History</td>
        <td>Mr Barnett</td>
      </tr>
      <tr>
        <td>4</td>
        <td>10:23am-11:08am</td>
        <td>Spanish</td>
        <td>Ms Cuellado</td>
      </tr>
      <tr>
        <td>5</td>
        <td>11:11am-11:56am</td>
        <td>Lunch</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>6</td>
        <td>11:59am-12:44am</td>
        <td>Comp eng</td>
        <td>Mr Pigis</td>
      </tr>
      <tr>
        <td>7</td>
        <td>12:47am-1:32am</td>
        <td>Music</td>
        <td>Mr Cortright</td>
      </tr>
      <tr>
        <td>8</td>
        <td>1:35am-2:20am</td>
        <td>College Readiness</td>
        <td>Mr Hickey</td>
      </tr>
      <tr>
        <td>8</td>
        <td>1:35am-2:20am</td>
        <td>Advisory</td>
        <td>Mr Miley</td>
      </tr>
      <tr>
        <td>8</td>
        <td>1:35am-2:20am</td>
        <td>Gym</td>
        <td>Mr Miley</td>
      </tr>
    </table>
	</body>
</html>