
<html>
	<head>
		<title>Flask Input and Output</title>
	</head>
	<link rel = "stylesheet" href="Schedule.css">
	<body>
		<h1>Input the following information</h1>
		<form method="post">
			<table id = "tblInputs">
        <tr>
          <th>
            Period
          </th>
          <th>
            Teacher
          </th>
          <th>
            Class
          </th>
          <th>
            Room Num
          </th>
        </tr>
        <tr>
          <td>
            1
          </td>
          <td>
            <input type="text" id="txtCl1">
          </td>
          <td>
            <input type="text" id="txtRm1">
          </td>
          <td>
            <input type="text" id="txtTe1">
          </td>
        </tr>
        <tr>
          <td>
            2
          </td>
          <td>
            <input type="text" id="txtCl2">
          </td>
          <td>
            <input type="text" id="txtRm2">
          </td>
          <td>
            <input type="text" id="txtTe2">
          </td>
        </tr>
        <tr>
          <td>
            3
          </td>
          <td>
            <input type="text" id="txtCl3">
          </td>
          <td>
            <input type="text" id="txtRm3">
          </td>
          <td>
            <input type="text" id="txtTe3">
          </td>
        </tr>
        <tr>
          <td>
            4
          </td>
          <td>
            <input type="text" id="txtCl4">
          </td>
          <td>
            <input type="text" id="txtRm4">
          </td>
          <td>
            <input type="text" id="txtTe4">
          </td>
        </tr>
        <tr>
          <td>
            5
          </td>
          <td>
            <input type="text" id="txtCl5">
          </td>
          <td>
            <input type="text" id="txtRm5">
          </td>
          <td>
            <input type="text" id="txtTe5">
          </td>
        </tr>
        <tr>
          <td>
            6
          </td>
          <td>
            <input type="text" id="txtCl6">
          </td>
          <td>
            <input type="text" id="txtRm6">
          </td>
          <td>
            <input type="text" id="txtTe6">
          </td>
        </tr>
        <tr>
          <td>
            7
          </td>
          <td>
            <input type="text" id="txtCl7">
          </td>
          <td>
            <input type="text" id="txtRm7">
          </td>
          <td>
            <input type="text" id="txtTe7">
          </td>
        </tr>
        <tr>
          <td>
            8
          </td>
          <td>
            <input type="text" id="txtCl8">
          </td>
          <td>
            <input type="text" id="txtRm8">
          </td>
          <td>
            <input type="text" id="txtTe8">
          </td>
        </tr>
        <tr>
          <td>
            9
          </td>
          <td>
            <input type="text" id="txtCl9">
          </td>
          <td>
            <input type="text" id="txtRm9">
          </td>
          <td>
            <input type="text" id="txtTe9">
          </td>
        </tr>
      </table> 
    <br>
      <button id="btnSubmit" style="align:center;">
        submit
      </button>
    <label id="lblError"></label>
    </p>
    
		</form>
	</body>
</html>